@using Microsoft.AspNetCore.Identity
@using PlanthorIdentityServer.Data
@inject SignInManager<ApplicationUser> SignInManager

@* <ul>
  @if (SignInManager.IsSignedIn(User))
  {
    <li>
      <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello
        @(User.Identity?.Name ?? "User")
      </a>
    </li>
    <li>
      <form asp-area="Identity" asp-page="/Account/Logout"
        asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
        <button type="submit">Logout</button>
      </form>
    </li>
  }
  else
  {
    <li>
      <a asp-area="Identity" asp-page="/Account/Register">Dang Ky</a>
    </li>
    <li>
      <a asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
  }
</ul> *@

<button class="md:hidden p-2">
  <div class="w-6 h-0.5 bg-slate-800 mb-1"></div>
  <div class="w-6 h-0.5 bg-slate-800 mb-1"></div>
  <div class="w-6 h-0.5 bg-slate-800"></div>
</button>
<button class="px-4 py-1.5 border border-blue-400 text-blue-500 rounded-md font-medium text-sm">Sign In</button>
<button class="px-4 py-1.5 bg-blue-500 text-white rounded-md font-medium text-sm hover:bg-blue-600">Sign
  Up</button>
