name: planthor-identity-infrastructure

services:

  postgresql:
    image: postgres:18
    container_name: postgresql
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: planthor-admin
      POSTGRES_PASSWORD: Planthor@123
    volumes:
      - pgdata:/var/lib/postgresql

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin
    restart: always
    ports:
      - "5050:5050"
    environment:
      PGADMIN_DEFAULT_EMAIL: planthor-admin@planthor.com
      PGADMIN_DEFAULT_PASSWORD: Planthor@123
      PGADMIN_LISTEN_PORT: 5050
    volumes:
      - pgadmin_data:/var/lib/pgadmin

volumes:
  pgdata:
  pgadmin_data:
